doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 夜晚的潜水艇
    link(rel='icon' href='/images/icons8.png' type='image/x-icon')
    link(rel='stylesheet' href='/stylesheets//index.css')
    link(rel='stylesheet' href='/stylesheets//book.css')
    script(src='/javascripts/index.js')
    script(src='/javascripts/book.js')
  body
    .main
      header.header
        .left_logo
          img(src='/images/logo.png' alt='logo' onclick='homepage()')
        .right_visitor
          #{visitor1}
          #{visitor2}
      .container
        ul.nav
          li
            span(onclick='homepage()') 主页
          li
            span.firstmenu 文学艺术
            .secondmenu
              a(href='/secondpage/a1') 青春文学
              br
              a(href='/secondpage/a2') 传记
              br
              a(href='/secondpage/a3') 小说
              br
              a(href='/secondpage/a4') 动漫艺术
              br
          li
            span.firstmenu 科学技术
            .secondmenu
              a(href='/secondpage/b1') 计算机网络
              br
              a(href='/secondpage/b2') 医学
              br
              a(href='/secondpage/b3') 科普读物
              br
              a(href='/secondpage/b4') 工农林
          li
            span.firstmenu 教育考试
            .secondmenu
              a(href='/secondpage/c1') 外语考试
              br
              a(href='/secondpage/c2') 教材
              br
              a(href='/secondpage/c3') 工具书
          li
            span.firstmenu 人文社科
            .secondmenu
              a(href='/secondpage/d1') 历史
              br
              a(href='/secondpage/d2') 心理
              br
              a(href='/secondpage/d3') 哲学宗教
              br
              a(href='/secondpage/d4') 文化古籍
        ul.bookdetail
          li
            h2 夜晚的潜水艇
            img(src='/images/book6.jpg' alt='图书')
            p 出版社: 上海三联书店
            p 作者: 陈春成
            p 出版年: 2020-9
          li
          li
            h4 内容简介
            p 仿佛鸟栖树，鱼潜渊，一切稳妥又安宁，夜晚这才真正地降临。
            p 《夜晚的潜水艇》是作家陈春成的首部短篇小说集。九个故事，笔锋游走于旧山河与未知宇宙间，以瑰奇飘扬的想象、温厚清幽的笔法，在现实与幻境间辟开若干条秘密的通道：海底漫游的少年、深山遗落的古碑、弥散入万物的字句、云彩修剪站、铸剑与酿酒、铁幕下的萨克斯、蓝鲸内的演奏厅……
            p 潜入故事深处，感知体内的星云旋动、草木蔓发；以词语的微光，探照记忆的海沟。关于藏匿与寻找、追捕与逃遁，种种无常中的一点确凿，烈日与深渊间的一小片清凉。陈春成的小说世界，是可供藏身的洞窟，悬浮于纸上的宫殿，航向往昔的潜艇，呈现汉语小说的一种风度与新的可能性。
            p 【推荐语】
            p 读陈春成的小说，能感受到作者在背后把问题全部想得清清楚楚，所以小说才会看起来流畅而有趣。他的语言锤炼已经炉火纯青，不是池中之物。这注定是一位了不起的小说家。
              | ——阿乙...
          li
            h4 作者简介
            p 陈春成，男，1990年出生，福建省宁德市屏南县人，现居福建泉州。
            p
              | 小说发表于豆瓣平台、文学期刊。《音乐家》荣获2019收获文学排行榜中篇小说奖项。
          li
            h4 目录
            p
              | 夜晚的潜水艇
              br
              |                         竹峰寺
              br
              |                         传彩笔
              br
              |                         裁云记
              br
              |                         酿酒师
              br
              |                         《红楼梦》弥撒
              br
              |                         李茵的湖
              br
              |                         尺 波
              br
              |                         音乐家
              br
              |                         ------------
      footer.footer
        .link
          li
            a(href='#') 关于我们
          li
            a(href='#') 联系客服
          li
            a(href='#') 版权声明
          li
            a(href='#') CopyRight©书阁
