doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 你当像鸟飞往你的山
    link(rel='icon' href='/images/icons8.png' type='image/x-icon')
    link(rel='stylesheet' href='/stylesheets//index.css')
    link(rel='stylesheet' href='/stylesheets//book.css')
    script(src='/javascripts/index.js')
    script(src='/javascripts/book.js')
  body
    .main
      header.header
        .left_logo
          img(src='/images/logo.png' alt='logo' onclick='homepage()')
        .right_visitor
          #{visitor1}
          #{visitor2}
      .container
        ul.nav
          li
            span(onclick='homepage()') 主页
          li
            span.firstmenu 文学艺术
            .secondmenu
              a(href='/secondpage/a1') 青春文学
              br
              a(href='/secondpage/a2') 传记
              br
              a(href='/secondpage/a3') 小说
              br
              a(href='/secondpage/a4') 动漫艺术
              br
          li
            span.firstmenu 科学技术
            .secondmenu
              a(href='/secondpage/b1') 计算机网络
              br
              a(href='/secondpage/b2') 医学
              br
              a(href='/secondpage/b3') 科普读物
              br
              a(href='/secondpage/b4') 工农林
          li
            span.firstmenu 教育考试
            .secondmenu
              a(href='/secondpage/c1') 外语考试
              br
              a(href='/secondpage/c2') 教材
              br
              a(href='/secondpage/c3') 工具书
          li
            span.firstmenu 人文社科
            .secondmenu
              a(href='/secondpage/d1') 历史
              br
              a(href='/secondpage/d2') 心理
              br
              a(href='/secondpage/d3') 哲学宗教
              br
              a(href='/secondpage/d4') 文化古籍
        ul.bookdetail
          li
            h2 你当像鸟飞往你的山
            img(src='/images/book1.jpg' alt='图书')
            p 出版社: 南海出版公司
            p 作者: [美] 塔拉·韦斯特弗
            p 原作名: Educated: A Memoir
            p 出版年: 2019-10-20
          li
          li
            h4 内容简介
            p ★ 奇迹！一部新人处女作，上市第一周即登上《纽约时报》畅销榜，至今已累计80周，仍高居Top1，全美销量破百万册，作者因此书被《时代周刊》评为“年度影响力人物”
            p ★ 比尔•盖茨年度荐书 第一名
            p ★ 美国亚马逊年度编辑选书 第一名
            p ★《纽约时报》《华尔街日报》《波士顿环球报》畅销书排行 第一名
            p ★ Goodreads读者票选超越米歇尔《成为》，获年度最佳图书
            p ★《洛杉矶时报》最佳传记奖
            p ★《纽约时报》《卫报》《华盛顿邮报》《泰晤士报》《星期日泰晤士报》《经济学人》《奥普拉杂志》、美国国家公共广播电台等二十多家权威媒体 年度图书
            p
              | 一个惊人的故事，真正鼓舞人心。我在阅读她极端的童年故事时，也开始反思起自己的生活。《你当像鸟飞往你的山》每个人都会喜欢。它甚至比你听说的还要好。
              | ——比尔•盖茨
            p
              | 教育意味着获得不同的视角，理解不同的人、经历和历史。接受教育，但不要让你的教育僵化成傲慢。教育应该是思想的拓展，同理心的深化，视野的开阔。它不应该使你的偏见变得更顽固。如果人们受过教育，他们应该变得不那么确定，而不是更确定。他们应该多听，少说，对差异满怀激情，热爱那些不同于他们的想法。
              | ——塔拉•韦斯特弗，《福布斯杂志》访谈
            p
              | 你可以用很多说法来称呼这个全新的自我：转变，蜕变，虚伪，背叛。而我称之为：教育。
              | ——塔拉•韦斯特弗
            p ------------------------------------------------------------------
            p ★作者亲定中文版书名《你当像鸟飞往你的山》
            p
              | 人们只看到我的与众不同：一个十七岁前从未踏入教室的大山女孩，却戴上一顶学历的高帽，熠熠生辉。
              | 只有我知道自己的真面目：我来自一个极少有人能想象的家庭。我的童年由垃圾场的废铜烂铁铸成，那里没有读书声，只有起重机的轰鸣。不上学，不就医，是父亲要我们坚持的忠诚与真理。父亲不允许我们拥有自己的声音，我们的意志是他眼中的恶魔。
              | 哈佛大学，剑桥大学，哲学硕士，历史博士……我知道，像我这样从垃圾堆里爬出来的无知女孩，能取得如今的成就，应当感激涕零才对。但我丝毫提不起热情。
              | 我曾怯懦、崩溃、自我怀疑，内心里有什么东西腐烂了，恶臭熏天。
              | 直到我逃离大山，打开另一个世界。
              | 那是教育给我的新世界，那是我生命的无限可能。
          li
            h4 作者简介
            p 塔拉•韦斯特弗 Tara Westover
            p
              | 美国历史学家、作家。1986年生于爱达荷州的山区。十七岁前从未上过学。通过自学考取杨百翰大学，2008年获文学学士学位。随后获得盖茨剑桥奖学金，2009年获剑桥大学哲学硕士学位。2010年获得奖学金赴哈佛大学访学。2014年获剑桥大学历史学博士学位。2018年出版处女作《你当像鸟飞往你的山》。2019年因此书被《时代周刊》评为“年度影响力人物”。
          li
            h4 目录
            p
              | 序
              br
              |                         ----------
              br
              |                         第一部分
              br
              |                         择善
              br
              |                         助产士
              br
              |                         奶油色鞋子
              br
              |                         阿帕奇女人
              br
              |                         诚实的污垢
              br
              |                         大小盾牌
              br
              |                         耶和华必预备
              br
              |                         小妓女
              br
              |                         当时世代的完全人
              br
              |                         羽毛盾牌
              br
              |                         直觉
              br
              |                         鱼眼睛
              br
              |                         沉默的教堂
              br
              |                         我的双脚已离开土地
              br
              |                         不再是孩子
              br
              |                         不忠的人，违逆的天堂
              br
              |                         ----------
              br
              |                         第二部分
              br
              |                         守安息日为圣日
              br
              |                         鲜血和羽毛
              br
              |                         回到原点
              br
              |                         父辈的吟诵
              br
              |                         美黄芩
              br
              |                         我们的低语，我们的尖叫
              br
              |                         我来自爱达荷州
              br
              |                         迷途的骑士
              br
              |                         硫黄的作用
              br
              |                         静候水流
              br
              |                         假如我是女人
              br
              |                         卖花女
              br
              |                         毕业
              br
              |                         ----------
              br
              |                         第三部分
              br
              |                         全能上帝之手
              br
              |                         悲剧之后的闹剧
              br
              |                         大房子里吵架的女人
              br
              |                         物理的巫术
              br
              |                         事物的本质
              br
              |                         太阳以西
              br
              |                         两双挥舞的手臂
              br
              |                         救赎之赌
              br
              |                         家庭
              br
              |                         守望野牛
              br
              |                         教育
              br
              |                         ------------
      footer.footer
        .link
          li
            a(href='#') 关于我们
          li
            a(href='#') 联系客服
          li
            a(href='#') 版权声明
          li
            a(href='#') CopyRight©书阁
