doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 通信之道——从微积分到5G
    link(rel='icon' href='/images/icons8.png' type='image/x-icon')
    link(rel='stylesheet' href='/stylesheets//index.css')
    link(rel='stylesheet' href='/stylesheets//book.css')
    script(src='/javascripts/index.js')
    script(src='/javascripts/book.js')
  body
    .main
      header.header
        .left_logo
          img(src='/images/logo.png' alt='logo' onclick='homepage()')
        .right_visitor
          #{visitor1}
          #{visitor2}
      .container
        ul.nav
          li
            span(onclick='homepage()') 主页
          li
            span.firstmenu 文学艺术
            .secondmenu
              a(href='/secondpage/a1') 青春文学
              br
              a(href='/secondpage/a2') 传记
              br
              a(href='/secondpage/a3') 小说
              br
              a(href='/secondpage/a4') 动漫艺术
              br
          li
            span.firstmenu 科学技术
            .secondmenu
              a(href='/secondpage/b1') 计算机网络
              br
              a(href='/secondpage/b2') 医学
              br
              a(href='/secondpage/b3') 科普读物
              br
              a(href='/secondpage/b4') 工农林
          li
            span.firstmenu 教育考试
            .secondmenu
              a(href='/secondpage/c1') 外语考试
              br
              a(href='/secondpage/c2') 教材
              br
              a(href='/secondpage/c3') 工具书
          li
            span.firstmenu 人文社科
            .secondmenu
              a(href='/secondpage/d1') 历史
              br
              a(href='/secondpage/d2') 心理
              br
              a(href='/secondpage/d3') 哲学宗教
              br
              a(href='/secondpage/d4') 文化古籍
        ul.bookdetail
          li
            h2 通信之道——从微积分到5G
            img(src='/images/book10.jpg' alt='图书')
            p 出版社: 电子工业出版社
            p 作者: 杨学志 编著
            p 出版年: 2016-2
          li
          li
            h4 内容简介
            p 《通信之道——从微积分到5G》按照读者的思维顺序讲述了从微积分到5G 所涉及的基础知识和关键技术。《通信之道——从微积分到5G》共20 章，具有以下特点：
            | （1）跨度极大，内容翔实：涉及数学、信号处理、通信原理、通信前沿技术等多个学科领域，知识密度极高，并且是最精华的部分。
            br
            | （2） 降低难度，提升高度：《通信之道——从微积分到5G》叙述符合读者的思维发展规律，并逐级提高，前后呼应，语言风趣幽默，节奏平稳；作者站高望远，直击本质，学术境界超越经典。
            br
            | （3）启发互动，培养创新：在多个环节上对读者提出挑战，启发读者思考，并给出作者的思考过程，培养读者的创新思维。
            br
            | 《通信之道——从微积分到5G》可作为通信和信号处理相关专业的本科生及研究生的教辅书，也可作为从业技术人员的参考资料。
          li
            h4 作者简介
            p 杨学志，1970年出生于中国山东省。1988年考入清华大学，获得学士、硕士和博士学位。1998年进入北京大学从事博士后研究工作。2000年进入华为公司，长期从事无线通信领域的研究工作。他是3G/4G多项核心技术的发明人，包括频域多用户检测，随机波束赋形，软频率复用（SFR）和sOFDM技术，其中SFR和sOFDM是4G的奠基性技术。2012年10月从华为公司离职，独立进行5G关键技术研究，提出了多级软频率复用技术，使得SFR成为无线通信技术发展的里程碑之一。
          li
            h4 目录
            p
              | 第1 章绪论1
              br
              |                         第2 章帮“菜鸟”复习一下微积分5
              br
              |                         第3 章信号与系统31
              br
              |                         第4 章复变函数45
              br
              |                         第5 章傅里叶分析55
              br
              |                         第6 章采样，通往数字世界的第一步85
              br
              |                         第7 章信号的谱分析97
              br
              |                         第8 章线性空间理论105
              br
              |                         第9 章基本通信链路119
              br
              |                         第10 章概率论与随机过程173
              br
              |                         第11 章AWGN 信道的最佳接收机203
              br
              |                         第12 章无线信道227
              br
              |                         第13 章均衡237
              br
              |                         第14 章多址技术257
              br
              |                         第15 章信息论301
              br
              |                         第16 章蜂窝通信323
              br
              |                         第17 章信道编码347
              br
              |                         第18 章多天线技术367
              br
              |                         第19 章关于创新的思考395
              br
              |                         第20 章后记417
              br
              |                         3G 霸主
              br
              |                         4G 变局
              br
              |                         展望5G
              br
              |                         ------------
      footer.footer
        .link
          li
            a(href='#') 关于我们
          li
            a(href='#') 联系客服
          li
            a(href='#') 版权声明
          li
            a(href='#') CopyRight©书阁
