doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 西藏生死书
    link(rel='icon' href='/images/icons8.png' type='image/x-icon')
    link(rel='stylesheet' href='/stylesheets//index.css')
    link(rel='stylesheet' href='/stylesheets//book.css')
    script(src='/javascripts/index.js')
    script(src='/javascripts/book.js')
  body
    .main
      header.header
        .left_logo
          img(src='/images/logo.png' alt='logo' onclick='homepage()')
        .right_visitor
          #{visitor1}
          #{visitor2}
      .container
        ul.nav
          li
            span(onclick='homepage()') 主页
          li
            span.firstmenu 文学艺术
            .secondmenu
              a(href='/secondpage/a1') 青春文学
              br
              a(href='/secondpage/a2') 传记
              br
              a(href='/secondpage/a3') 小说
              br
              a(href='/secondpage/a4') 动漫艺术
              br
          li
            span.firstmenu 科学技术
            .secondmenu
              a(href='/secondpage/b1') 计算机网络
              br
              a(href='/secondpage/b2') 医学
              br
              a(href='/secondpage/b3') 科普读物
              br
              a(href='/secondpage/b4') 工农林
          li
            span.firstmenu 教育考试
            .secondmenu
              a(href='/secondpage/c1') 外语考试
              br
              a(href='/secondpage/c2') 教材
              br
              a(href='/secondpage/c3') 工具书
          li
            span.firstmenu 人文社科
            .secondmenu
              a(href='/secondpage/d1') 历史
              br
              a(href='/secondpage/d2') 心理
              br
              a(href='/secondpage/d3') 哲学宗教
              br
              a(href='/secondpage/d4') 文化古籍
        ul.bookdetail
          li
            h2 西藏生死书
            img(src='/images/book28.jpg' alt='图书')
            p 出版社: 浙江大学出版社
            p 作者:  [美国] 索甲仁波切
            p 译者: 郑振煌
            p 出版年: 2011-4
          li
          li
            h4 内容简介
            p 希望每个人不畏惧死，也不畏惧活；希望每个人死得安详，死亡时能够得到最有智慧、最慈悲澄明的关怀；希望每个人透过心性和真相的彻悟，找到终极的快乐。
            p 西藏生死书》是一本契合时代需要的书。书中，作者索甲仁波切深入讨论了如何认识生命的真义，如何接受死亡，以及如何帮助临终者和亡者。《西藏生死书》提供给读者的，不仅是有关死亡和临终的理论性描述，还有实行的方法，可以用来了解死亡和临终的真相，帮助自己和他人死得宁静而充实。
          li
            h4 作者简介
            p 索甲仁波切出生于西藏，由二十世纪最受敬重的精神导师蒋扬钦哲仁波切(Jamyang Khyentse Chokyi Lodro)养育长大。自幼年起，他就与上师培养出温馨亲密的关系，并沉浸在智慧、慈悲和恭敬心的氛围之中。这使他对佛法精髓有了深刻的了解，以此体验和身为转世喇嘛所受的传统训练，为他日后担任精神导师的任务，打下厚实的基础。
            p 蒋扬钦哲仁波切圆寂之后，索甲仁波切继续跟随二位主要上师敦珠仁波切和顶果钦哲仁波切修法，启发他在西方的传法志业。1971年，他前往英国剑桥大学研读比较宗教学。1974年开始弘法，因为求法者热烈渴求，他又继续至欧洲、东欧、美国、澳洲和亚洲等地传法。
            p 仁波切把将佛法弘传到西方，当作是他毕生的志业，因此写出《西藏生死书》，提供修炼的基础。这项修炼可使人们了解佛法，并实际与日常生活相结合，因此能裨益他人和全世界。
            p 很少上师能有索甲仁波切天赋的沟通能力，而二十余年在西方的生活和受教，使他深刻了解西方人的心灵。他以亲切、幽默和讲法清晰闻名；且能够跨越宗教、文化和心理学的藩篱，揭示了佛法的精髓。他以日常生活令人惊妙的例子，分享他个人的经验，因而能直接与学生的经验相契合，进而激起对佛法的鲜活感受和韵味。
            p 索甲仁波切传承于伟大的大圆满教法，他具有这个传承的明显特质：充沛的活力、广阔的心灵和直指人心。
          li
            h4 目录
            p
              | 第一篇 生
              br
              |                         第一章 在死亡的镜子中
              br
              |                         第二章 无常
              br
              |                         第三章 反省与改变
              br
              |                         第四章 心性
              br
              |                         第五章 把心带回家
              br
              |                         第六章 演化、业与轮回
              br
              |                         第七章 中阴与其他实相
              br
              |                         第八章 这一世：自然中阴
              br
              |                         第九章 精神之路
              br
              |                         第十章 心要
              br
              |                         第二篇 临终
              br
              |                         第十一章 对临终关怀者的叮咛
              br
              |                         第十二章 慈悲：如意宝珠
              br
              |                         第十三章 给临终者的精神帮助
              br
              |                         第十四章 临终修习
              br
              |                         第十五章 死亡的过程
              br
              |                         第三篇 死亡与重生
              br
              |                         第十六章 基础地
              br
              |                         第十七章 内在的光芒
              br
              |                         第十八章 受生中阴
              br
              |                         第十九章 亡者超荐
              br
              |                         第二十章 濒死经验：上天堂的阶梯？
              br
              |                         第四篇 结论
              br
              |                         第二十一章 共通的历程
              br
              |                         第二十二章 和平的仆人
      footer.footer
        .link
          li
            a(href='#') 关于我们
          li
            a(href='#') 联系客服
          li
            a(href='#') 版权声明
          li
            a(href='#') CopyRight©书阁
