doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 英语语法新思维初级教程
    link(rel='icon' href='/images/icons8.png' type='image/x-icon')
    link(rel='stylesheet' href='/stylesheets//index.css')
    link(rel='stylesheet' href='/stylesheets//book.css')
    script(src='/javascripts/index.js')
    script(src='/javascripts/book.js')
  body
    .main
      header.header
        .left_logo
          img(src='/images/logo.png' alt='logo' onclick='homepage()')
        .right_visitor
          #{visitor1}
          #{visitor2}
      .container
        ul.nav
          li
            span(onclick='homepage()') 主页
          li
            span.firstmenu 文学艺术
            .secondmenu
              a(href='/secondpage/a1') 青春文学
              br
              a(href='/secondpage/a2') 传记
              br
              a(href='/secondpage/a3') 小说
              br
              a(href='/secondpage/a4') 动漫艺术
              br
          li
            span.firstmenu 科学技术
            .secondmenu
              a(href='/secondpage/b1') 计算机网络
              br
              a(href='/secondpage/b2') 医学
              br
              a(href='/secondpage/b3') 科普读物
              br
              a(href='/secondpage/b4') 工农林
          li
            span.firstmenu 教育考试
            .secondmenu
              a(href='/secondpage/c1') 外语考试
              br
              a(href='/secondpage/c2') 教材
              br
              a(href='/secondpage/c3') 工具书
          li
            span.firstmenu 人文社科
            .secondmenu
              a(href='/secondpage/d1') 历史
              br
              a(href='/secondpage/d2') 心理
              br
              a(href='/secondpage/d3') 哲学宗教
              br
              a(href='/secondpage/d4') 文化古籍
        ul.bookdetail
          li
            h2 英语语法新思维初级教程
            img(src='/images/book17.jpg' alt='图书')
            p 出版社: 群言出版社
            p 作者: 张满胜
            p 副标题: 走近语法
            p 出版年: 2008-7-1
          li
          li
            h4 内容简介
            p 英语语法新思维初级教程:走近语法》是一本“与众不同”的语法书：它不同于传统语法书只是机械地罗列教条式的“死规则”，它真的要告诉你规则背后的“活思维”；它不同于传统语法书追求“大而全”的规则排列，它真的要让你快速掌握“少而精”的思维规律；它不同于传统语法书那样本末倒置地给出较多生僻的“例外”，它真的让你高效掌握英语思维的本质；它不同于传统语法书采用枯燥的例句来讲解规则，读起来味同嚼蜡，它真的要让你在欣赏有趣例句、幽默故事以及精美短文的同时，领悟英语思维；它不同于传统语法书只给你孤立的、脱离语境的单一句子，它真的要让你知道例句背后的使用语境；它不同于传统语法书只教你语法知识，它真的要教你如何运用语法知识，从而把语法知识转化为你的语言技能，真正培养你创造性使用英语的能力。
          li
            h4 作者简介
            p 张满胜：英国剑桥大学英语硕士，北京新东方学校“新思维语法”培训创始人。拥有十多年的英语教学和研究经验，对英语语法有深入研究，目前正致力于考研英语的培训和研究工作。2003年以来一直在《新东方英语》杂志主持“新思维语法”专栏，深受广大读者的欢迎。
          li
            h4 目录
            p
              | 绪论　名词短语
              br
              |                         0.1　引言
              br
              |                         0.2　名词短语
              br
              |                         0.2.1　名词短语的功能
              br
              |                         0.2.2　名词短语的构造——“左二右六”的定语规律
              br
              |                         0.3　英语句子五成分论
              br
              |                         0.4　本篇内容的逻辑安排
              br
              |                         第一章　名词
              br
              |                         第二章　限定词（一）：冠词
              br
              |                         第三章　限定词（二）：数量限定词与个体限定词
              br
              |                         第四章　形容词
              br
              |                         第五章　动词分类（一）：实义动词与（情态）助动词
              br
              |                         第六章　动词分类（二）：英语的五种基本句型
              br
              |                         第七章　英文时态（一）：一般时态
              br
              |                         第八章　谓语时态（二）：进行时态
              br
              |                         附录：答案解析
      footer.footer
        .link
          li
            a(href='#') 关于我们
          li
            a(href='#') 联系客服
          li
            a(href='#') 版权声明
          li
            a(href='#') CopyRight©书阁
