doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 人类简史
    link(rel='icon' href='/images/icons8.png' type='image/x-icon')
    link(rel='stylesheet' href='/stylesheets//index.css')
    link(rel='stylesheet' href='/stylesheets//book.css')
    script(src='/javascripts/index.js')
    script(src='/javascripts/book.js')
  body
    .main
      header.header
        .left_logo
          img(src='/images/logo.png' alt='logo' onclick='homepage()')
        .right_visitor
          #{visitor1}
          #{visitor2}
      .container
        ul.nav
          li
            span(onclick='homepage()') 主页
          li
            span.firstmenu 文学艺术
            .secondmenu
              a(href='/secondpage/a1') 青春文学
              br
              a(href='/secondpage/a2') 传记
              br
              a(href='/secondpage/a3') 小说
              br
              a(href='/secondpage/a4') 动漫艺术
              br
          li
            span.firstmenu 科学技术
            .secondmenu
              a(href='/secondpage/b1') 计算机网络
              br
              a(href='/secondpage/b2') 医学
              br
              a(href='/secondpage/b3') 科普读物
              br
              a(href='/secondpage/b4') 工农林
          li
            span.firstmenu 教育考试
            .secondmenu
              a(href='/secondpage/c1') 外语考试
              br
              a(href='/secondpage/c2') 教材
              br
              a(href='/secondpage/c3') 工具书
          li
            span.firstmenu 人文社科
            .secondmenu
              a(href='/secondpage/d1') 历史
              br
              a(href='/secondpage/d2') 心理
              br
              a(href='/secondpage/d3') 哲学宗教
              br
              a(href='/secondpage/d4') 文化古籍
        ul.bookdetail
          li
            h2 人类简史
            img(src='/images/book13.jpg' alt='图书')
            p 出版社: 中信出版社
            p 副标题: 从动物到上帝
            p 作者: [以色列] 尤瓦尔·赫拉利
            p 译者: 林俊宏
            p 原作名: A brief history of humankind
            p 出版年: 2014-11
          li
          li
            h4 内容简介
            p 十万年前，地球上至少有六种不同的人
            | 但今日，世界舞台为什么只剩下了我们自己？
            br
            | 从只能啃食虎狼吃剩的残骨的猿人，到跃居食物链顶端的智人，
            br 
            | 从雪维洞穴壁上的原始人手印，到阿姆斯壮踩上月球的脚印，
            br
            | 从认知革命、农业革命，到科学革命、生物科技革命，
            br
            | 我们如何登上世界舞台成为万物之灵的？
            br
            | 从公元前1776年的《汉摩拉比法典》，到1776年的美国独立宣言，
            br 
            | 从帝国主义、资本主义，到自由主义、消费主义，
            br
            | 从兽欲，到物欲，从兽性、人性，到神性，
            br
            | 我们了解自己吗？我们过得更快乐吗？
            br
            | 我们究竟希望自己得到什么、变成什么？
            br
            | ------------------------------------------------------------------------------------------------
            p 《人类简史：从动物到上帝》是以色列新锐历史学家的一部重磅作品。从十万年前有生命迹象开始到21世纪资本、科技交织的人类发展史。十万年前，地球上至少有六个人种，为何今天却只剩下了我们自己？我们曾经只是非洲角落一个毫不起眼的族群，对地球上生态的影响力和萤火虫、猩猩或者水母相差无几。为何我们能登上生物链的顶端，最终成为地球的主宰？
            p 从认知革命、农业革命到科学革命，我们真的了解自己吗？我们过得更加快乐吗？我们知道金钱和宗教从何而来，为何产生吗？人类创建的帝国为何一个个衰亡又兴起？为什么地球上几乎每一个社会都有男尊女卑的观念？为何一神教成为最为广泛接受的宗教？科学和资本主义如何成为现代社会最重要的信条？理清影响人类发展的重大脉络，挖掘人类文化、宗教、法律、国家、信贷等产生的根源。这是一部宏大的人类简史，更见微知著、以小写大，让人类重新审视自己。
          li
            h4 作者简介
            p 尤瓦尔·赫拉利，1976年生，牛津大学历史学博士，现为耶路撒冷希伯来大学的历史系教授，青年怪才，全球瞩目的新锐历史学家。
            p 他擅长世界历史和宏观历史进程研究。在学术领域和大众出版领域都有很大的兴趣。
            p 他的《人类简史》一书让他一举成名，成为以色列超级畅销书，目前这本书已授20多个国家版权，在历史学之外，人类学、生态学、基因学等领域的知识信手拈来，根据图书改变的课程上传YOUTUBE后风靡全球，拥有大批青年粉丝。写书，视频课程之外，他还开设有专栏。
          li
            h4 目录
            p
              | 推荐序 高毅
              br
              |                         第一部分 认知革命
              br
              |                         1. 人类：一种也没什么特别的动物
              br
              |                         2. 知善恶树
              br
              |                         3. 亚当和夏娃的一天
              br
              |                         4. 毁天灭地的人类洪水
              br
              |                         第二部分 农业革命
              br
              |                         5. 史上最大骗局
              br
              |                         6. 盖起金字塔
              br
              |                         7. 记忆过载
              br
              |                         8. 历史从无正义
              br
              |                         第三部分 人类的融合统一
              br
              |                         9. 历史的方向
              br
              |                         10. 金钱的味道
              br
              |                         11. 帝国的愿景
              br
              |                         12. 宗教的法则
              br
              |                         13. 成功的秘密
              br
              |                         第四部分 科学革命
              br
              |                         14. 发现自己的无知
              br
              |                         15. 科学与帝国的联姻
              br
              |                         16. 资本主义教条
              br
              |                         17. 工业的巨轮
              br
              |                         18. 一场永远的革命
              br
              |                         19. 从此过着幸福快乐的日子
              br
              |                         20. 智人末日
              br
              |                         后记：变成神的这种动物
              br
              |                         参考书目
      footer.footer
        .link
          li
            a(href='#') 关于我们
          li
            a(href='#') 联系客服
          li
            a(href='#') 版权声明
          li
            a(href='#') CopyRight©书阁
