doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 中国传统色
    link(rel='icon' href='/images/icons8.png' type='image/x-icon')
    link(rel='stylesheet' href='/stylesheets//index.css')
    link(rel='stylesheet' href='/stylesheets//book.css')
    script(src='/javascripts/index.js')
    script(src='/javascripts/book.js')
  body
    .main
      header.header
        .left_logo
          img(src='/images/logo.png' alt='logo' onclick='homepage()')
        .right_visitor
          #{visitor1}
          #{visitor2}
      .container
        ul.nav
          li
            span(onclick='homepage()') 主页
          li
            span.firstmenu 文学艺术
            .secondmenu
              a(href='/secondpage/a1') 青春文学
              br
              a(href='/secondpage/a2') 传记
              br
              a(href='/secondpage/a3') 小说
              br
              a(href='/secondpage/a4') 动漫艺术
              br
          li
            span.firstmenu 科学技术
            .secondmenu
              a(href='/secondpage/b1') 计算机网络
              br
              a(href='/secondpage/b2') 医学
              br
              a(href='/secondpage/b3') 科普读物
              br
              a(href='/secondpage/b4') 工农林
          li
            span.firstmenu 教育考试
            .secondmenu
              a(href='/secondpage/c1') 外语考试
              br
              a(href='/secondpage/c2') 教材
              br
              a(href='/secondpage/c3') 工具书
          li
            span.firstmenu 人文社科
            .secondmenu
              a(href='/secondpage/d1') 历史
              br
              a(href='/secondpage/d2') 心理
              br
              a(href='/secondpage/d3') 哲学宗教
              br
              a(href='/secondpage/d4') 文化古籍
        ul.bookdetail
          li
            h2 中国传统色
            img(src='/images/book8.jpg' alt='图书')
            p 出版社: 中信出版集团
            p 作者: 郭浩 / 李健明
            p 副标题: 故宫里的色彩美学
            p 出版年: 2020-10-15
          li
          li
            h4 内容简介
            p ★《中国传统色》的两位作者查找中日色彩相关文献近400部，严谨考据384种中国传统色名；根据24节气72物候，在几十万件故宫文物中选取应时应节的96件，从文物中提取传统色。色名与色值两相对应，互为考证，最终完成这本以时间为轴，以文物为依托，展现中国传统色色彩体系的著作。
            p ★漂是重要的基本色，可追溯至《说文解字》和《释名》。这种晴空之色，起于“天缥”，承之“沧浪”，转为“苍筤”，合于“缥碧”，古人以此留存春生之美——东风解冻，新竹破土，缥是山野间鲜冷的呼吸；漫走沧浪亭，春水濯足，缥从《孟子》延伸出触感；上品青花瓷“天青过雨”，精心烧制的浪漫等待，自宋时保存至今，缥成为一期一会的化石。最终，定格于清乾隆时期的“绿色描金松竹梅纹粉蜡笺”，藏于故宫，为今人提供一眼千年的想象。
            p 24节气·72物候·96件手绘故宫文物·384种中国传统色
            p 打捞华夏失落的色彩文化...
          li
            h4 作者简介
            p 郭浩，文化学者、文创投资人。前哈佛大学肯尼迪学院访问学者、长影集团北京影视中心主任，引领故宫大婚和吉服嘉礼、中秋午门数字秀、故宫御猫和故宫十二美猫图等项目。
            p 李健明，故宫文创设计师。曾参与故宫大婚文创项目，负责创意与设计。原创出行护驾系列文创品牌 “御前行走” 。曾与M SN、芬达等知名品牌合作设计项目。
          li
            h4 目录
            p
              | 002 春色季语
              br
              |                         立春
              br
              |                         013 黄白游 松花 缃叶 苍黄
              br
              |                         015天缥 沧浪 苍筤 缥碧
              br
              |                         017 流黄 栗壳 龙战 青骊
              br
              |                         019 海天霞 缙云 纁黄 珊瑚赫
              br
              |                         雨水
              br
              |                         021 盈盈 水红 苏梅 紫茎屏风
              br
              |                         023 葭灰 黄埃 老僧衣 玄天
              br
              |                         025 黄河琉璃 库金 缊韨 紫瓯
              br
              |                         027 欧碧 春辰 碧山 青青
              br
              |                         惊蛰
              br
              |                         029 赤缇 朱草 綪茷 顺圣
              br
              |                         031 桃夭 杨妃 长春 牙绯
              br
              |                         033 黄栗留 栀子 黄不老 枳黄
              br
              |                         035 青鸾 菘蓝 青黛 绀蝶
              br
              |                         春分
              br
              |                         037 皦玉 吉量 韶粉 霜地
              br
              |                         039 夏籥 紫磨金 檀色 赭罗
              br
              |                         041 黄丹 洛神珠 丹雘 水华朱
              br
              |                         043 青冥 青雘 青緺 骐驎
              br
              |                         清明
              br
              |                         045 紫蒲 赪紫 齐紫 凝夜紫
              br
              |                         047 冻缥 春碧 执大象 苔古
              br
              |                         049 香炉紫烟 紫菂 拂紫绵 三公子
              br
              |                         051 琅玕紫 红踯躅 魏红 魏紫
              br
              |                         ------------
      footer.footer
        .link
          li
            a(href='#') 关于我们
          li
            a(href='#') 联系客服
          li
            a(href='#') 版权声明
          li
            a(href='#') CopyRight©书阁
