doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 社会心理学
    link(rel='icon' href='/images/icons8.png' type='image/x-icon')
    link(rel='stylesheet' href='/stylesheets//index.css')
    link(rel='stylesheet' href='/stylesheets//book.css')
    script(src='/javascripts/index.js')
    script(src='/javascripts/book.js')
  body
    .main
      header.header
        .left_logo
          img(src='/images/logo.png' alt='logo' onclick='homepage()')
        .right_visitor
          #{visitor1}
          #{visitor2}
      .container
        ul.nav
          li
            span(onclick='homepage()') 主页
          li
            span.firstmenu 文学艺术
            .secondmenu
              a(href='/secondpage/a1') 青春文学
              br
              a(href='/secondpage/a2') 传记
              br
              a(href='/secondpage/a3') 小说
              br
              a(href='/secondpage/a4') 动漫艺术
              br
          li
            span.firstmenu 科学技术
            .secondmenu
              a(href='/secondpage/b1') 计算机网络
              br
              a(href='/secondpage/b2') 医学
              br
              a(href='/secondpage/b3') 科普读物
              br
              a(href='/secondpage/b4') 工农林
          li
            span.firstmenu 教育考试
            .secondmenu
              a(href='/secondpage/c1') 外语考试
              br
              a(href='/secondpage/c2') 教材
              br
              a(href='/secondpage/c3') 工具书
          li
            span.firstmenu 人文社科
            .secondmenu
              a(href='/secondpage/d1') 历史
              br
              a(href='/secondpage/d2') 心理
              br
              a(href='/secondpage/d3') 哲学宗教
              br
              a(href='/secondpage/d4') 文化古籍
        ul.bookdetail
          li
            h2 社会心理学
            img(src='/images/book26.jpg' alt='图书')
            p 出版社: 人民邮电出版社
            p 副标题: （第8版）
            p 作者:  [美国] 戴维·迈尔斯
            p 译者: 张智勇 / 乐国安 / 侯玉波 等
            p 出版年: 2006-1
          li
          li
            h4 内容简介
            p 《社会心理学》这本书被美国700多所大学或学院的心理系所采用，是这一领域的主导教材，已经成为评价其他教材的标准。
            p 这本书将基础研究与实践应用完美地结合在一起，以富有逻辑性的组织结构引领学生了解人们是如何思索、影响他人并与他人建立联系的。是人们了解自身、了解社会、了解自己与社会之间关系的最佳的指导性书籍。
          li
            h4 作者简介
            p 戴维·迈尔斯自从获得爱荷华大学的博±学位之后，就在密歇根的霍普学院工作，成为那里的John Dirk Werkman心理学教授，并且开设了多门社会心理学的课程。霍普学院的学生邀请他在毕业典礼上发言并评选他为“最杰出的教授”。
            p 迈尔斯曾在30多种科学书籍和期刊上发表过多篇论文，包括《科学》、《美国科学家》、《心理科学》和《美国心理学家》等。除了学术著作和教科书，同时他还致力于把心理科学介绍给广大民众。他在许多杂志上发表过科普类文章，如《今日教育》和《科学美国人》。
          li
            h4 目录
            p
              | 中译版序言
              br
              |                         前言
              br
              |                         第1章 社会心理学导论
              br
              |                         第一编 社会思维
              br
              |                         第2章 社会中的自我
              br
              |                         第3章 社会信念与判断
              br
              |                         第4章 行为和态度
              br
              |                         第二编 社会影响 
              br
              |                         第5章 基因、文化和性别
              br
              |                         第6章 从众
              br
              |                         第7章 说服
              br
              |                         第8章 群体影响
              br
              |                         第三编 社会关系
              br
              |                         第9章 偏见：不喜欢他人
              br
              |                         第10章 攻击行为：伤害他人
              br
              |                         第11章 吸引和亲密：喜欢他人和爱他人
              br
              |                         第12章 利他：帮助他人
              br
              |                         第13章 冲突与和解
              br
              |                         第四编 应用社会心理学
              br
              |                         第14章 社会心理学在临床领域中的应用
              br
              |                         第15章 社会心理学在司法领域中的应用
              br
              |                         第16章 社会心理学与可持续发展的未来
              br
              |                         专业术语表
              br
              |                         参考文献
      footer.footer
        .link
          li
            a(href='#') 关于我们
          li
            a(href='#') 联系客服
          li
            a(href='#') 版权声明
          li
            a(href='#') CopyRight©书阁
