doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 生活蒙太奇
    link(rel='icon' href='/images/icons8.png' type='image/x-icon')
    link(rel='stylesheet' href='/stylesheets//index.css')
    link(rel='stylesheet' href='/stylesheets//book.css')
    script(src='/javascripts/index.js')
    script(src='/javascripts/book.js')
  body
    .main
      header.header
        .left_logo
          img(src='/images/logo.png' alt='logo' onclick='homepage()')
        .right_visitor
          #{visitor1}
          #{visitor2}
      .container
        ul.nav
          li
            span(onclick='homepage()') 主页
          li
            span.firstmenu 文学艺术
            .secondmenu
              a(href='/secondpage/a1') 青春文学
              br
              a(href='/secondpage/a2') 传记
              br
              a(href='/secondpage/a3') 小说
              br
              a(href='/secondpage/a4') 动漫艺术
              br
          li
            span.firstmenu 科学技术
            .secondmenu
              a(href='/secondpage/b1') 计算机网络
              br
              a(href='/secondpage/b2') 医学
              br
              a(href='/secondpage/b3') 科普读物
              br
              a(href='/secondpage/b4') 工农林
          li
            span.firstmenu 教育考试
            .secondmenu
              a(href='/secondpage/c1') 外语考试
              br
              a(href='/secondpage/c2') 教材
              br
              a(href='/secondpage/c3') 工具书
          li
            span.firstmenu 人文社科
            .secondmenu
              a(href='/secondpage/d1') 历史
              br
              a(href='/secondpage/d2') 心理
              br
              a(href='/secondpage/d3') 哲学宗教
              br
              a(href='/secondpage/d4') 文化古籍
        ul.bookdetail
          li
            h2 生活蒙太奇
            img(src='/images/book7.jpg' alt='图书')
            p 出版社: 湖南文艺出版社
            p 作者: 天然
            p 出版年: 2020-7
          li
          li
            h4 内容简介
            p 《生活蒙太奇》是一部充满奇妙质感的绘本作品，每天都有无数年轻人转发或评论它的精彩画面或动图。#生活蒙太奇#在全球社交媒体上有超过1345万以上的话题阅读（包括但不限于新浪微博、Instagram等），关于静下来，看见平凡生活的美好，治愈自己，以及重新出发。
            p 《生活蒙太奇》的作者天然是一位从三岁开始专心画画的年轻女孩。那些在普通人看来平淡无奇的日子：晒在午后三点的阳光下，雨天一个人读书，抬头遇见初雪……作者把这些单独静止的画面，通过独特想象力和洞察力的艺术加工，画成可以阅读的，充满故事感的连续绘画作品，仿佛一部生活电影的蒙太奇（通过对生活片段的拼接，产生独特意义）。读者静下心来读一读，会从画面故事里得到一种前所未见的生活平静之美和细节之美。
          li
            h4 作者简介
            p 天然
            p 生活的观察者、设计师、艺术教育讲师
            p 三岁开始学画,本科毕业于清华大学,研究生毕业于美国马里兰艺术学院,目前在巴尔的摩工作,曾出版作品《有一年》
          li
            h4 目录
            p
              | 序言
              br
              |                         “你好。”
              br
              |                         灌溉
              br
              |                         糟糕
              br
              |                         海的声音
              br
              |                         另辟蹊径
              br
              |                         典型的清晨
              br
              |                         雨来了
              br
              |                         淘气猫
              br
              |                         雨走了
              br
              |                         快乐剂
              br
              |                         锦鲤
              br
              |                         打水漂儿
              br
              |                         前门拥堵
              br
              |                         接得好
              br
              |                         雪顶奶茶
              br
              |                         跳跳糖
              br
              |                         西瓜效应
              br
              |                         水开了
              br
              |                         跟我玩
              br
              |                         旋转木马
              br
              |                         后座风景
              br
              |                         地心引力
              br
              |                         小心缝隙！
              br
              |                         照猫画猫
              br
              |                         闷热
              br
              |                         土电话
              br
              |                         消磨时间
              br
              |                         套甜甜圈
              br
              |                         手滑
              br
              |                         我回来了
              br
              |                         召唤
              br
              |                         波光
              br
              |                         半梦半醒
              br
              |                         壁纸
              br
              |                         一叶知秋
              br
              |                         晚安
              br
              |                         早安
              br
              |                         嗞啦嗞啦
              br
              |                         安乐窝
              br
              |                         ------------
      footer.footer
        .link
          li
            a(href='#') 关于我们
          li
            a(href='#') 联系客服
          li
            a(href='#') 版权声明
          li
            a(href='#') CopyRight©书阁
