doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 注册
    script(src='/javascripts/register.js')
    link(rel='icon' href='/images/icons8.png' type='image/x-icon')
    link(rel='stylesheet' href='/stylesheets/login-register.css')
  body
    .main
      span 注册
      br
      br
      #form
        .input_box
          input#login_name(type='text' name='login_name' autocomplete='off' required='')
          label 用户名
        .input_box
          input#login_pwd(type='password' name='login_pwd' required='')
          label 密码
        .input_box
          input#login_repwd(type='password' name='login_repwd' required='')
          label 确认密码
        .input_box
          input#nikename(type='text' name='nikename' autocomplete='off' required='')
          label 昵称
        .input_box
          input#brithday(type='text' name='brithday' autocomplete='off' placeholder='2000-01-01')
          label 生日
        .input_box
          input#email(type='email' name='email' autocomplete='off' placeholder='xxx@xx.com')
          label 电子邮箱
        input.btn(type='button' value='确认' onclick='regist()')
        input.btn(type='button' value='返回' onclick='comeback()')
        br
        br
        |             已有账号，去
        a(href='login') 登录
