.commentarea{
    position: relative;
    left: 5%;
}
.commentarea h1{
    padding-top: 1%;
    width: 100%;
}
.commentarea img{
    padding-top: 1%;
    width: 30%;
}
.commentarea ul{
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
}
.commentarea #commentbox{
    resize: none;
    padding-top: 2%;
    width: 60%;
    opacity: 0.7;
}
.btnarea{
    width: 100%;
    padding-bottom: 3%;
}
#btndiscuss{
    width: 200px;
    background-color: wheat;
}
#btndiscuss:hover{
    background-color: deepskyblue;
}